#menue{
    width:20%;
    height: 100vh;
    background-color: #F0F8FF;
    float:left
}
.list-group-item{
    background-color: inherit;
}
#profile{
    width:inherit;
}
.pageContent{
    float: right;
    margin-right: 20%;
}
.training-entry{
    width:150px;
}

/*Taktik*/
#canvas-container {
    position: relative;
    width: 400px;
    height: 605px;
}

#images img.img_dragging {
    opacity: 0.4;
}
/*
Styles below based on  http://www.html5rocks.com/en/tutorials/dnd/basics/
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

.buffer {margin-bottom: 10px;}
.buffer-all { margin: 5px; }
.header-padding { padding-right: 10px; padding-left: 10px }
.panel-body.panel-container {padding-top: 0;}
.panel-body.user-container {padding-bottom: 0;}
.user-container {margin-top: 1px; margin-bottom: 1px}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.context-menu .active {
  display: block;
}
#balls img{
    margin:0.25em;
}
#commandos{
    display:none;
}
#animation{
    display:none;
}
#management{
    display:none;
}
#field-chooser img{
    cursor:pointer;
    margin:1em;
    position: relative;
}
#field-chooser .field h2{
font-size: 1.5em;
left:20px;
top:-20px;
position:relative;
}
#field-chooser h2 span{
   color: white;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
#fields{
    display:flex;
}
#tactic-save-button{
    margin-bottom:1em;
}
