extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .row
        .col-xs-12.col-sm-8.col-md-6
            if error
                .alert.alert-danger(role="alert") Bitte füllen Sie alle Felder aus!
            form(action="/addgame", method="post")
                div.form-group
                    label Ort
                    input.form-control(type="text", name="location")
                div.form-group
                    label Datum
                    input.form-control(type="date", name="date")
                div.form-group
                    label Kommentar
                    input.form-control(type="text", name="comment")
                if navbarOptions.active === "tournament-list"
                    div.form-group
                        label Modus
                        input.form-control(type="text", name="mode")
                    div.form-group
                        label Kosten
                        input.form-control(type="text", name="cost")
                    button.btn.btn-primary.btn-lg(type="submit" name="type" value="tournament") Turnier Erstellen
                else if navbarOptions.active === "games-list"
                    button.btn.btn-primary.btn-lg(type="submit" name="type" value="training") Training Erstellen