extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1 Spiel in #{location}, #{date}
                if tournament
                    h4 #{mode}, #{cost}
                h4= comment
    .col-xs-12.buffer
        if tournament
            if (typeof won === "undefined" && navbarOptions.user.trainer)
                form(action="/gameslist/#{_id}/changeoutcome", method="post")
                    button.btn.btn-success(type="submit" name="outcome" value="won") Gewonnen
                    button.btn.btn-danger(type="submit" name="outcome" value="lost") Verloren
            else if won === true
                .btn.btn-success Spiel Gewonnen!
            else if won === false
                .btn.btn-danger Spiel Leider verloren!
    .col-xs-12.col-md-3
        //players
        .panel.panel-primary
            .panel-heading
                h2.panel-title Zugesagt
            .panel-body.panel-container
                each user in agreedUser
                    .row
                        .form-group.col-xs-6
                            .well.well-sm.user-container(name=user.user._id draggable="true" ondragstart="drag(event)")= user.user.name
                        .form-group.col-xs-6
                            if navbarOptions.user.trainer === true
                                if (typeof user.present === "undefined")
                                    form(action="/gameslist/#{_id}/changepresent?userid=#{user.user._id}&tournament=#{tournament}", method="post")
                                        button.col-xs-6.btn.btn-default(type="submit" name="present" value="present")
                                            span.glyphicon.glyphicon-ok-circle
                                        button.col-xs-6.btn.btn-default(type="submit" name="present" value="nonpresent")
                                            span.glyphicon.glyphicon-remove-circle
                                else
                                    .btn.btn-info Bewertet!
            .panel-heading
                h2.panel-title Abgesagt
            .panel-body.panel-container
                each user in disagreedUser
                    .row
                        .well.well-sm.user-container= user.name

    .col-xs-12.col-md-6
        .panel.panel-primary
            if navbarOptions.user.trainer === true
                .panel-heading
                    h2.panel-title Spielplanung
                .row
                    .col-xs-6
                        .panel.panel-success
                            .panel-heading
                                #team1.team-1.drop.panel-title(ondrop="drop(event)" ondragover="allowDrop(event)") Team 1
                                    each item in team1.user
                                        .well.well-sm.user-container(id=item._id name=item._id draggable="true" ondragstart="drag(event)")= item.name
                            select#team1-tactic.form-control
                                for tactic in tactics
                                    if (team1.tactic && tactic._id === team1.tactic._id)
                                        option(value="#{tactic._id}" selected) #{tactic.name}
                                    else
                                        option(value="#{tactic._id}") #{tactic.name}
                    .col-xs-6
                        .panel.panel-warning
                            .panel-heading
                                #team2.team-2.drop.panel-title(ondrop="drop(event)" ondragover="allowDrop(event)") Team 2
                                    each item in team2.user
                                        .well.well-sm.user-container(id=item._id name=item._id draggable="true" ondragstart="drag(event)")= item.name
                            select#team2-tactic.form-control
                                for tactic in tactics
                                    if (team2.tactic && tactic._id === team2.tactic._id)
                                        option(value="#{tactic._id}" selected) #{tactic.name}
                                    else
                                        option(value="#{tactic._id}") #{tactic.name}
                .row
                    .text-center Für Teamzuteilung die Namen der Spieler auf das entsprechende Team ziehen
                .row
                    .col-xs-12.text-center
                        .form-group
                            #save-teams.btn.btn-primary(name=_id) Speichern

            else
                .panel-heading
                    h2.panel-title Rückmeldung
                .panel-body.panel-container
                    form(action="/gameslist/#{_id}/changestatus?tournament=#{tournament}", method="post")
                        button.btn.btn-default.btn-lg(type="submit" name="agreed" value="agreed") Zusagen
                            span.glyphicon.glyphicon-ok-circle
                        button.btn.btn-default.btn-lg(type="submit" name="agreed" value="disagreed") Absagen
                            span.glyphicon.glyphicon-remove-circle
                .panel-heading
                    h2.panel-title Spieleinteilung
                .panel-body.panel-container
                    .row
                        .col-xs-6
                            .panel.panel-success
                                .panel-heading
                                    .panel-title Team
                                        each item in team1.user
                                            .well.well-sm.user-container= item.name
                                if team1.tactic
                                    span.badge= team1.tactic.name
                        .col-xs-6
                            .panel.panel-warning
                                .panel-heading
                                    .panel-title Auswechselspieler
                                        each item in team2.user
                                            .well.well-sm.user-container= item.name
                                if team2.tactic
                                    span.badge= team2.tactic.name


    .col-xs-12.col-md-3
        //feedback
        .panel.panel-primary
            .panel-heading
                h2.panel-title Kommentare
            .panel-body.panel-container
                each item in feedback
                    .row
                        .well.well-sm.comment-header
                            span= item.user
                            small.pull-right= item.createdOn
                        .col-xs-12
                            p !{(item.feedbackText).replace(/\n/g, '<br/>')}
            .panel-footer
                form(action="/gameslist/#{_id}/addcomment", method="post")
                    .form-group
                        textarea#comment.form-control(rows=2 placeholder="Kommentar" name="comment")
                    button.btn.btn-primary(type="submit") Kommentar senden