extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .col-xs-12.col-sm-8.col-md-6
        .error= message
        .row.list-group
            //in der vergangenheit liegende extra danach anordnen
            each game in games
                .list-group-item
                    if tournament
                        h4
                            a(href="/gameslist/#{game._id}?type=tournament")= game.location
                            small.header-padding= game.mode
                            span.badge.pull-right.badge-default= game.date
                        h4
                            small.address= game.comment
                            small.pull-right= game.cost
                    else
                        h4
                            a(href="/gameslist/#{game._id}?type=training")= game.location
                            span.badge.pull-right.badge-default= game.date
                        h4
                            small.address= game.comment
    .col-xs-12.col-sm-4
        if navbarOptions.user.trainer === true
            if tournament
                a.btn.btn-default(href="/addgame?type=tournament", role="button") Turnier erstellen
            else
                a.btn.btn-default(href="/addgame?type=training", role="button") Training erstellen