extends layout

block content
    .jumbotron
        img(src="/res/img/panda.png")
        h1= pageHeader
        p= message

        a.btn.btn-default(href="/login")
            span.fa.fa-user Login
        a.btn.btn-default(href="/signup")
            span.fa.fa-user Signup