include mixins

doctype html
html(lang="de")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/superhero.bootstrap.min.css')
        //link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand Team-App
                +navbar(navbarOptions)

        .container
            block content

            footer
                .row
                    .col-xs-12
                        small &copy; Adrian Jobst and Franziska Tschochner

        script(src="/javascripts/jquery-3.1.0.min.js")
        script(src="/javascripts/Chart.min.js")
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src="/js/libs/fabric.min.js")
        script(src="/js/libs/EventPublisher.js")
        script(src="/js/src/Teams.js")
        script(src="/js/src/Player.js")
        script(src="/js/src/Tactic.js")
        script(src="/js/src/TacticController.js")
        script(src="/js/src/TacticModel.js")
        script(src="/js/src/TacticView.js")
        script Tactic.tacticStart.init();
