extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .row
        .col-xs-12.col-sm-8.col-md-6
            if error
                .alert.alert-danger(role="alert") Bitte überprüfen Sie Ihre Eingaben!
            form#login(action="/login", method="post")
                div.form-group
                    label Email
                    input.form-control(type="text", name="email")
                div.form-group
                    label Passwort
                    input.form-control(type="password", name="password")
                button.btn.btn-info.btn-lg(type="submit") Login
