mixin navbar(options)
    if !options
        - var options = "none"
    #navbar-main.navbar-collapse.collapse
        if options.user
            ul.nav.navbar-nav
                if !options.user.trainer
                    li(class=(options.active === "player") ? "active" : "")
                        a(href='/player/') Übersicht
                li(class=(options.active === "games-list") ? "active" : "")
                    a(href='/gameslist/') Trainings
                li(class=(options.active === "tournament-list") ? "active" : "")
                    a(href='/tournament/') Turniere
                li(class=(options.active === "tactic") ? "active" : "")
                    a(href='/tactic/') Taktik
                li(class=(options.active === "ranking") ? "active" : "")
                    a(href='/ranking/') Ranking
            ul.nav.navbar-nav.pull-right
                li
                    a
                        strong= options.user.name
                li
                    a(href='/logout/') Logout
                li(class=(options.active === "about") ? "active" : "")
                    a(href='/about/') About
        else
            ul.nav.navbar-nav.pull-right
                li(class=(options.active === "about") ? "active" : "")
                    a(href='/about/') About