extends layout

block content
    script.
        var statsData = !{stats}

    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .col-xs-12.col-sm-6
        .panel.panel-primary
            .panel-heading
                h2.panel-title Trainingsstatistiken
            .panel-body.panel-container
                canvas(id="trainingChart" width="150" height="150")
    .col-xs-12.col-sm-6
        .panel.panel-primary
            .panel-heading
                h2.panel-title Turnierstatistiken
            .panel-body.panel-container
                canvas(id="tournamentChart" width="150" height="150")
                canvas(id="tournamentOutcomeChart" width="150" height="150")