extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .row
        .col-xs-12.col-sm-6
            h2 Besuchte Trainings
            .row.list-group
                each user in usersTrainingSort
                    if user.stats && user.stats.attendedTrainings
                        .list-group-item
                            h4
                                a= user.name
                                span.badge.pull-right.badge-default= user.stats.attendedTrainings
        .col-xs-12.col-sm-6
            h2 Besuchte Turniere
            .row.list-group
                each user in usersTournamentSort
                    if user.stats && user.stats.attendedTournaments
                        .list-group-item
                            h4
                                a= user.name
                                span.badge.pull-right.badge-default= user.stats.attendedTournaments