extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .row
        .col-xs-12.col-sm-8.col-md-6
            if error
                .alert.alert-danger(role="alert") Alle Felder erforderlich!
            form#register(action="/signup", method="post")
                .form-group
                    label.radio-inline
                        input(type="radio" name="isTrainer" id="trainer" value="false" checked)
                        | Spieler
                    label.radio-inline
                        input(type="radio" name="isTrainer" id="player" value="true")
                        | Trainer
                .form-group
                    label Name
                    input.form-control(type="text", name="name")
                .form-group
                    label Email
                    input.form-control(type="text", name="email")
                .form-group
                    label Passwort
                    input.form-control(type="password", name="password")
                button.btn.btn-info.btn-lg(type="submit") Registrieren