extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader
    .row
        div#field-chooser
            .panel.panel-primary
                .panel-heading
                    h2.panel-title Feld auswählen
                .panel-body.panel-container
                    div#fields
                        div.field
                            img(src="/res/img/football-field.png" height="200")
                            //source: https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/AmFBfield.svg/2000px-AmFBfield.svg.png
                            h2
                                span.label.label-default Football
                        div.field
                            img(src="/res/img/basketball-field.png" height="200")
                            //source: https://upload.wikimedia.org/wikipedia/commons/7/71/Basketball_court_dimensions_no_label.svg
                            h2
                                span.label.label-default Basketball
                        div.field
                            img(src="/res/img/handball-field.png" height="200")
                            //source: https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/FutsalPitchsvg.svg/2000px-FutsalPitchsvg.svg.png
                            h2
                                span.label.label-default Handball
                        div.field
                            img(src="/res/img/soccer-field.png" height="200")
                            //source: https://upload.wikimedia.org/wikipedia/commons/b/b9/Soccer_field_-_empty.svg
                            h2
                                span.label.label-default Fußball
                        div.field
                            img(src="/res/img/ultimate.png" height="200")
                            h2
                                span.label.label-default Frisbee
                        div.field
                            img(src="/res/img/rugby-field.png" height="200")
                            //source: https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Rugby_union_pitch.svg/2000px-Rugby_union_pitch.svg.png
                            h2
                                span.label.label-default Rugby

        .col-xs-12.col-md-5
            div#animation
                div#images
                    div#players
                        img(draggable="true" src="/res/img/player.png" width="30" height="25")
                        img(draggable="true" src="/res/img/playerGreen.png" width="30" height="25")
                        img(draggable="true" src="/res/img/playerRed.png" width="30" height="25")
                        img(draggable="true" src="/res/img/playerOrange.png" width="30" height="25")
                    div#balls
                        img(draggable="true" src="/res/img/handball.png" width="20" height="20")
                        img(draggable="true" src="/res/img/soccer.png" width="20" height="20")
                        img(draggable="true" src="/res/img/football.png" width="25" height="20")
                        img(draggable="true" src="/res/img/basketball.png" width="20" height="20")
                        img(draggable="true" src="/res/img/disc.png")
                h3
                    span#step-label.label.label-default Schritt 0
                div#canvas-container
                    canvas#field
                .row
                    div.btn-group
                        button.btn.btn-default#back-button(type="button" data-toggle="button")
                            span.glyphicon.glyphicon-step-backward
                        button.btn.btn-default#animation-button(type="submit" data-toggle="button")
                            span.glyphicon.glyphicon-play
                        button.btn.btn-default#forward-button(type="button" data-toggle="button")
                            span.glyphicon.glyphicon-step-forward

        .col-xs-12.col-md-3
            div#commandos
                .panel.panel-primary
                    .panel-heading
                        h2.panel-title Taktik
                    .panel-body.panel-container
                        button.btn.btn-primary.buffer-all#comment-save-button(type="submit") Schritt speichern

            div.context-menu
                .panel.panel-primary
                    .panel-heading
                        h2.panel-title Objekt ändern
                    .panel-body.panel-container
                        canvas#menu-img(width="235" height="35")
                    .panel-footer
                        form
                            .form-group
                                textarea#num-input.form-control(rows=1 placeholder="Nummer ändern")
                        button.btn.btn-primary#object-save-button(type="submit") Speichern
        .col-xs-12.col-md-4
            div#management
                .panel.panel-primary
                    .panel-heading
                        h2.panel-title Verwalten
                    .panel-body.panel-container
                        .row
                            input#tactic-name(type="text" placeholder="Taktikname")
                            button.btn.btn-primary.buffer-all#tactic-save-button(type="submit") Taktik speichern
                        .row
                            select.form-control#load-tactic
                                for tactic in tactics
                                    option(value="#{tactic._id}") #{tactic.name}
                            button.btn.btn-primary.buffer-all#load-tactic-button(type="submit") Taktik Laden